@font-face {
  font-family: 'whitedice';
  src: url("whitedice.eot");
  src: url("whitedice.eot?#iefix") format("embedded-opentype"), url("whitedice.woff") format("woff"), url("whitedice.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blackdice';
  src: url("blackdice.eot");
  src: url("blackdice.eot?#iefix") format("embedded-opentype"), url("blackdice.woff") format("woff"), url("blackdice.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mythicdice';
  src: url("mythicdice.eot");
  src: url("mythicdice.eot?#iefix") format("embedded-opentype"), url("mythicdice.woff") format("woff"), url("mythicdice.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'windlass';
  src: url("windlass.eot");
  src: url("windlass.eot?#iefix") format("embedded-opentype"), url("windlass.woff") format("woff"), url("windlass.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ouml-windlass';
  src: url("Ouml-windlass.eot");
  src: url("Ouml-windlass.eot?#iefix") format("embedded-opentype"), url("Ouml-windlass.woff") format("woff"), url("Ouml-windlass.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 57, src/main.scss */
.bigger {
  font-size: 130%;
}

/* line 61, src/main.scss */
h1 {
  color: #91180e;
  font-size: 2em;
}

/* line 66, src/main.scss */
h2 {
  font-size: 1.5em;
}

/* line 70, src/main.scss */
h1, h2 {
  font-family: windlass;
  font-weight: normal;
}

/* line 75, src/main.scss */
h3 {
  font-size: 1.17em;
  font-variant: small-caps;
}

/* line 80, src/main.scss */
h4 {
  font-size: 1em;
}

/* line 84, src/main.scss */
h3, h4 {
  font-family: Georgia, serif;
  font-weight: bold;
}

/* fix extra space between {h2|h3|h4} and paragraph */
/* line 90, src/main.scss */
h2, h3, h4 {
  margin-bottom: 0;
  margin-top: .66em;
}

/* line 94, src/main.scss */
h2 + p, h3 + p, h4 + p {
  margin-top: .33em;
}

/* line 98, src/main.scss */
p {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* line 103, src/main.scss */
h2 {
  margin-top: 1em;
}

/* line 107, src/main.scss */
.gameKeyword {
  color: #91180e;
  font-variant: small-caps;
  font-weight: bold;
}

/* line 113, src/main.scss */
.amp {
  font-family: Georgia, serif;
  font-size: 115%;
}

/* line 118, src/main.scss */
.Ouml {
  font-family: Ouml-windlass;
  position: relative;
  bottom: .05em;
}

/* line 124, src/main.scss */
.mythender {
  font-variant: small-caps;
  font-weight: bold;
}

/* line 129, src/main.scss */
a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/* line 135, src/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 139, src/main.scss */
.stormDie {
  font-family: whitedice;
}

/* line 143, src/main.scss */
.thunderDie {
  font-family: blackdice;
}

/* line 147, src/main.scss */
.bonusDie {
  font-family: blackdice;
  color: #91180e;
}

/* line 152, src/main.scss */
.mythicDie {
  font-family: mythicdice;
  color: #91180e;
  font-size: 125%;
  position: relative;
  bottom: -.15em;
}

/* line 160, src/main.scss */
.boxed {
  padding: .5em;
  border: #000 solid .25em;
}

/* line 165, src/main.scss */
.gr dt {
  font-weight: bold;
}

/* line 169, src/main.scss */
.gr dd {
  margin-left: 1em;
}

/* line 173, src/main.scss */
.giftQual {
  color: #58585a;
  font-variant: small-caps;
  font-weight: bold;
  margin-left: .5em;
}

/* line 180, src/main.scss */
.giftUpgrade {
  margin-left: .5em;
}

/* line 184, src/main.scss */
figcaption {
  font-style: italic;
  color: #58585a;
  text-align: center;
}

/* line 190, src/main.scss */
.content {
  background-color: #fff;
  /*margin-left: auto;
  margin-right: auto;
  padding: 2em;
  max-width: 750px; */
  color: #000;
}

/* line 199, src/main.scss */
.lic {
  background-color: #fff;
  /*margin-left: auto;
  margin-right: auto;
  padding: 2em;
  max-width: 750px;*/
  margin-top: 1em;
}

/* line 209, src/main.scss */
.lic p {
  font-size: 75%;
}

/* line 211, src/main.scss */
body {
  background: #1e0a0a;
  font-family: Georgia, serif;
  color: #000;
  margin-left: 0;
  margin-right: 0;
}

/* line 220, src/main.scss */
.ramm {
  color: #91180e;
  font-weight: bold;
}

/* there's a problem at #asdf... fix that up */
/* line 226, src/main.scss */
.rap {
  font-style: italic;
  margin-left: 1em;
}

/* for some reason .rap is still adding the margin... hmm */
/* line 232, src/main.scss */
span.rap {
  font-style: italic;
}

/* pod to select which gifts to display */
/* line 237, src/main.scss */
.giftsSelector {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #fff4c8;
  border: 1px solid #fc0;
  width: 180px;
  z-index: 100;
  font-size: 75%;
  font-family: sans-serif;
}

/* line 249, src/main.scss */
ul.toc {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 255, src/main.scss */
ul.toc ul {
  list-style-type: none;
  margin-left: 1em;
  padding-left: 0;
}

/* line 261, src/main.scss */
ul.toc > li {
  font-size: 110%;
  color: #91180e;
  padding-top: 0.5em;
  font-weight: bold;
}

/* line 268, src/main.scss */
ul.toc > li > ul > li {
  font-size: 91%;
  /* 1/110% */
  color: #000;
  font-weight: normal;
}

/* line 274, src/main.scss */
h1.titleAuthor {
  text-align: center;
  font-size: 1.12em;
  color: #000;
  margin-bottom: 0;
}

/* line 280, src/main.scss */
h1.title {
  font-variant: small-caps;
  text-align: center;
  font-size: 4em;
  margin-top: -.2em;
}

/* line 286, src/main.scss */
.subtitle {
  text-align: center;
  font-size: 2em;
  color: #91180e;
  font-family: windlass;
}

/* line 292, src/main.scss */
span.initCap {
  font-size: 2.3em;
  float: left;
  font-family: windlass;
  font-style: normal;
}

/* line 298, src/main.scss */
.fiction {
  font-style: italic;
}

/* line 301, src/main.scss */
.attribution {
  text-align: right;
}

/* line 304, src/main.scss */
.creditsIndent {
  padding-left: 1em;
  text-indent: -1em;
}

/* line 308, src/main.scss */
a.noBold {
  font-weight: normal;
}

/* line 312, src/main.scss */
.bib {
  padding-left: 1em;
  text-indent: -1em;
}

/* line 317, src/main.scss */
.heartPastFateDesc {
  font-style: italic;
}

/* line 321, src/main.scss */
.off-canvas-list a {
  font-weight: normal;
  text-decoration: none;
  font-family: sans-serif;
}

/* line 327, src/main.scss */
li.name h4 {
  font-family: windlass;
  font-weight: normal;
  color: #fff;
}
