.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.hidden {display: none;}
.wfailed, .tFailedThunder {
   background-color: #8b0304;
}
#legenday, #mythic, #titanic, #wound {
   text-align: center;
}
.thunderDie, .stormDie, .bonusThunderDie, .bonusStormDie {
   width: 1em;
   padding: .1em;
}

.mythicDie {
   width: 1.5em;
   padding: .15em;
}

html, body {
   height: 100%;
   background-color: #8b0304;
}
#accordion {
   height: 100%;
}
a.accordianExplanation {float: right;}

.gainLosePay {
   font-family: Impact, sans-serif;
   font-size: 300%;
   line-height: normal;
}

.intrinsic {background-color: #900;}
.relic {background-color: #090;}
.companion {background-color: #009;}

.giftHighlight {
   color: #8b0304;
   font-variant: small-caps;
   font-weight: bold;
}

.wpnType {
   background: url(../img/weapon_type.svg) no-repeat top left;
   background-size: 1em 1em;
   padding-left: 1.1em;
}

.wpnTypeChecked {
   background: url(../img/weapon_type-checked.svg) no-repeat top left;
   background-size: 1em 1em;
   padding-left: 1.1em;
}

.cdDrained {
   display: inline-block;
   vertical-align: top;
   background: url(../img/charge-drain-both.svg) no-repeat top left;
   background-size: 50px 50px;
   width: 50px;
   height: 50px;
}

.cdCharged {
   display: inline-block;
   vertical-align: top;
   background: url(../img/charge-drain-charged.svg) no-repeat top left;
   background-size: 50px 50px;
   width: 50px;
   height: 50px;
}

.cdReady {
   display: inline-block;
   vertical-align: top;
   background: url(../img/charge-drain-empty.svg) no-repeat top left;
   background-size: 50px 50px;
   width: 50px;
   height: 50px;
}