.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.hidden {display: none;}
.wfailed {
   color: #f00;
   background-color: #8b0304;
}
#legenday, #mythic, #titanic, #wound {
   text-align: center;
}
.thunderDie, .stormDie, .bonusThunderDie, .bonusStormDie {
   width: 1em;
   padding: .1em;
}

.mythicDie {
   width: 1.5em;
   padding: .15em;
}

html, body {
   height: 100%;
   background-color: #8b0304;
}
#accordion {
   height: 100%;
}
a.accordianExplanation {float: right;}

.gainLosePay {
   font-family: Impact, sans-serif;
   font-size: 300%;
   line-height: normal;
}

.intrinsic {background-color: #900;}
.relic {background-color: #090;}
.companion {background-color: #009;}